:root
{
    --hover_state: #2980B9;
    --text_color: #2C3E50;
    --position: 1;
    --position: 2;
    --position: 3;
    --position: 4;
}

*
{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    color: var(--text_color);
    font-family: Arial, sans-serif;
}
::-webkit-scrollbar
{
    display: none;
}
body
{
    overscroll-behavior: none;
}
main
{
    position: relative;
    height: auto;
    width: 100%;
    background-color: #ECF0F1; /*#ECF0F1*/
}
header
{
    position: fixed;
    top: 0%;
    height: 100px;
    width: 100%;
    background-color: #ECF0F1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;

    display: grid;
    grid-template-columns: 150px 200px 1fr 200px 200px;
    grid-template-rows: 30px 1fr;
    grid-template-areas: 
    "blue_line blue_line blue_line blue_line blue_line"
    "box_1 box_2 box_3 box_4 box_5";

}

header .blue_line
{
    grid-area: blue_line;
    background-color:#003366;

    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr 70px;
    grid-template-rows: 1fr;
    grid-template-areas:  
    ". return trademark help .";

	p, a{color:white;text-decoration:none;font-size:12px;}
	.return{
        grid-area: return;
        display: flex;
        align-items: center;
    }
	.trademark{
        grid-area: trademark;   
        display: flex;
        align-items: center;
        justify-content: center;
    }
	.help{
        grid-area: help;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

header .box_1
{
    grid-area: box_1;

    display: flex;
    align-items: center;
    padding-left: 70px;

    .logo
    {
        height: 50px;
        width: 50px;
        border: none;

        cursor: pointer;

        img 
        {
            height: 50px;
            width: 50px;
        }
    }
}

header .box_2
{
    grid-area: box_2;

    display: flex;
    justify-content: start;
    align-items: center;

    .title
    {
        border: none;
        font-size: 27px;
        text-decoration: none;
        cursor: pointer;
    }
}

header .box_3
{
    grid-area: box_3;

    display: flex;
    justify-content: center;
    align-items: center;

    .search_container
    {
        height: 44px;
        width: 90%;
        border: 1px solid gray;
        border-radius: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search_icon
    {
        height: 25px;
        width: 25px;

        img 
        {
            height: 25px;
            width: 25px;
        }
    }
    input
    {
        height: 30px;
        width: 90%;
        border: none;
        outline: none;
        background-color: transparent;

        padding: 10px;
    }
}
header .box_4
{
    grid-area: box_4;

    display: flex;
    justify-content: center;
    align-items: center;

    /*
    .user_account
    {
        height: 44px;
        width: 100%;
        border: none;
        background-color: white;
        border-radius: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 0 1em 0 1em;

        .profile_pic 
        {
            height: 30px;
            width: 30px;
            border-radius: 100%;

            img 
            {
                max-width: 100%;
            }
        }
        .right_arrow
        {
            height: 10px;
            width: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            img 
            {
                max-height: 100%;
            }
        }
    }
    */
    .btn_container
    {
        height: auto;
        width: 100%;
        /*border: 1px solid black;*/

        display: flex;
        justify-content: end;
        align-items: center;
    }
    .profile_icon
    {
        height: 25px;
        width: 20px;

        margin-right: 10px;

        img 
        {
            height: 25px;
            width: 20px;
        }
    }
    .sign_up_btn
    {
        height: 40px;
        width: auto;
        font-size: 12px;

        border: none;
        text-decoration: none;
        cursor: pointer;
    }
    .sign_up_btn:hover
    {
        transition: 1s;
        color: var(--hover_state);
        text-decoration: underline;
    }
    .slash
    {
        height: 30px;
        width: 20px;

        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 30px;
    }
    .sign_in_btn
    {
        height: 40px;
        width: auto;
        font-size: 12px;
        
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
    .sign_in_btn:hover
    {
        transition: 1s;
        color: var(--hover_state);
        text-decoration: underline;
    }
}

header .box_5
{
    grid-area: box_5;

    display: flex;
    justify-content: end;
    align-items: center;

    .cart_btn_container
    {
        height: 40px;
        width: auto;

        padding-left: 27px;
        border-left: 1px solid black;

        display: flex;
        align-items: center;
        padding-right: 70px;
    }
    .cart_icon
    {
        height: 25px;
        width: 25px;

        img 
        {
            height: 25px;
            width: 25px;
        }
    }
    .cart_btn
    {
        height: 30px;
        width: 50px;
        font-size: 12px;

        border: none;
        cursor: pointer;
    }
}

.section_1
{
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 100px;
    grid-template-areas: 
    "header_space"
    "main_space"
    "footer_space";

    .header
    {
        grid-area: header_space;
        height: 100px;
        width: 100%;
    }
    .main
    {
        grid-area:  main_space;

        display: grid;
        grid-template-columns: 70px 1fr 70px;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas:  
        ". . ."
        ". carousel_images_holder ."
        ". . .";

        position: relative;

        .carousel_button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: gray;
            opacity: 50%;
            border: none;

            height: 70px;
            width: 70px;
            border-radius: 50%;
            
            padding: 10px;
            cursor: pointer;
            font-size: 24px;
            z-index: 1;
        }
      
        .carousel_button.left {
            left: 35px;
        }
      
        .carousel_button.right {
            right: 35px;
        }

        .carousel_images_holder
        {
            grid-area: carousel_images_holder;
            
            position: relative;
            height: 400px;
            width: 100%;
            border-radius: 30px;
            overflow: hidden;
        }
        .carousel_track {
            display: flex;
            transition: transform 0.5s ease-in-out;
          }
      
          .carousel_slide {
            min-width: 100%;
            box-sizing: border-box;

            position: relative;

            a 
            {
                position: absolute;
                top: 270px;
                left: 60px;
                height: 45px;
                width: 133px;
                background-color: #003366;
                border-radius: 15px;

                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;

                h2 
                {
                    color: white;
                }
            }
            a:hover 
            {
                background-color: #0099CC;
                border: 3px solid #CCCCCC;
            }
            img
            {
                position: absolute;
                top: 0%;
                left: -3.5%;
                height: 400px;
                width: 115%;
            }
          }
      
          .carousel_dots {

            grid-area: carousel_dots;

            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
          }
      
          .dot {
            height: 5px;
            width: 5px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
          }
      
          .dot.active {
            background-color: #717171;
          }
    }
    .footer
    {
        grid-area: footer_space;

        display: flex;

        .btn_container
        {
            height: 100%;
            width: 100%;
            margin: 0 70px 0 70px;

            display: flex;
        }
        .grid_box
        {
            height: 100%;
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 50px 1fr;
            grid-template-rows: 30px 1fr;
        }
        .delivery
        {
            grid-template-areas: 
            ". delivery_icon ."
            "text text text";

            .delivery_icon
            {
                grid-area: delivery_icon;
                height: 30px;
                width: 40px;

                img 
                {
                    height: 100%;
                    width: 100%;
                }
            }
            .text
            {
                grid-area: text;
                text-align: center;
                padding-top: 20px;
            }
        }
        .cash
        {
            grid-template-areas: 
            ". cash_icon ."
            "text text text";

            .cash_icon
            {
                grid-area: cash_icon;
                height: 30px;
                width: 40px;

                img 
                {
                    height: 100%;
                    width: 100%;
                }
            }
            .text
            {
                grid-area: text;
                text-align: center;
                padding-top: 20px;
            }
        }
        .discount
        {
            grid-template-areas: 
            ". discount_icon ."
            "text text text";

            .discount_icon
            {
                grid-area: discount_icon;
                height: 30px;
                width: 40px;

                img 
                {
                    height: 100%;
                    width: 100%;
                }
            }
            .text
            {
                grid-area: text;
                text-align: center;
                padding-top: 20px;
            }
        }
        .customer_service
        {
            grid-template-areas: 
            ". cs_icon ."
            "text text text";

            .cs_icon
            {
                grid-area: cs_icon;
                height: 30px;
                width: 30px;

                img 
                {
                    height: 100%;
                    width: 100%;
                }
            }
            .text
            {
                grid-area: text;
                text-align: center;
                padding-top: 20px;
            }
        }
    }
}
.section_2
{
    height: auto;
    width: 100%;
    padding: 0 70px 0 70px ;

    .header
    {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid gray;

        display: flex;
        justify-content: space-between;
        align-items: end;

        .section_title
        {
            border-bottom: 5px solid #2980B9;
            font-size: 20px;
        }
        p 
        {
            padding-bottom: 15px;
        }
        span 
        {
            color: #2980B9;
            font-weight: bolder;
        }
        .view_all
        {
            font-size: 15px;
            height: 50px;
            display: flex;
            align-items: center;

            div 
            {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a 
            {
                text-decoration: none;
                font-size: 15px;

                img
                {
                    height: 10px;
                    width: 5px;
                    margin-left: 10px;
                }
            }
        }
    }
    .main 
    {
        height: 350px;

        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-rows: 1fr 300px 1fr;
        grid-template-areas: 
        ". . . . ."
        "card_1 card_2 card_3 card_4 card_5"
        ". . . . .";
        justify-content: space-between;

        .card_1
        {
            grid-area: card_1;

            .product_img
            {
                img 
                {
                    max-height: 100%;
                }
            }
        }
        .card_2
        {
            grid-area: card_2;

            .product_img
            {
                img 
                {
                    max-height: 100%;
                }
            }
        }
        .card_3
        {
            grid-area: card_3;

            .product_img
            {
                img 
                {
                    max-height: 100%;
                }
            }
        }
        .card_4
        {
            grid-area: card_4;

            .product_img
            {
                img 
                {
                    max-height: 100%;
                }
            }
        }
        .card_5
        {
            grid-area: card_5;

            .product_img
            {
                img 
                {
                    max-height: 100%;
                }
            }
        }
        
        .product_card
        {
            height: 300px;
            width: 200px;
            border-radius: 20px;
            overflow: hidden;
            border: 3px solid white;
            text-decoration: none;
             
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 170px 90px 40px;
            grid-template-areas:  
            "product_img"
            "product_info"
            "product_price";

            .product_img 
            {
                grid-area: product_img;
            }
            .product_info 
            {
                grid-area: product_info;
                background-color: #003366;

                font-size: 12px;
                
                display: grid;
                grid-template-columns: 1fr; 
                grid-template-rows: 1fr 25px;  
                grid-template-areas:  
                "text"
                "price";

                .text 
                {
                    grid-area: text;
                    color: white;
                    padding: 10px 0 0 10px;
                    
                }
                .price 
                {
                    grid-area: price;
                    color: white;
                    padding: 0 10px 0 10px;

                    span 
                    {
                        padding-left: 10px;
                        color: white;
                    }
                }
            }
            .product_price
            {
                grid-area: product_price;
                background-color: #003366;
                border-top: 1px solid white ;

                font-size: 12px;
                padding: 10px 0 0 10px;

                p 
                {
                    color: #59F944;
                }
            }

        }
        .product_card:hover
        {
            transition: 0.5s ease-in-out;
            box-shadow: 0px 3px 3px gray;
            
            .product_info
            {
                background-color: #0099CC;
                
                .text 
                {
                    color: black;
                }
                .price
                {
                    color: black;
                    
                    span 
                    {
                        color: black;
                    }
                }
            }
            .product_price
            {
                background-color: #0099CC;
            }
        }

    }
}

.section_3
{
    height: auto;
    width: 100%;
    padding: 0 70px 0 70px ;

    .header
    {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid gray;

        display: flex;
        justify-content: space-between;
        align-items: end;

        .section_title
        {
            border-bottom: 5px solid #2980B9;
            font-size: 20px;
        }
        p 
        {
            padding-bottom: 15px;
        }
        span 
        {
            color: #2980B9;
            font-weight: bolder;
        }
        .view_all
        {
            font-size: 15px;
            height: 50px;
            display: flex;
            align-items: center;

            div 
            {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a 
            {
                text-decoration: none;
                font-size: 15px;

                img
                {
                    height: 10px;
                    width: 5px;
                    margin-left: 10px;
                }
            }
        }
    }
    .main 
    {
        height: 250px;

        display: grid;
        grid-template-columns: 125px 125px 125px 125px 125px 125px;
        grid-template-rows: 1fr 125px 10px 1fr;
        grid-template-areas: 
        ". . . . . ."
        "card_1 card_2 card_3 card_4 card_5 card_6"
        "categories_1 categories_2 categories_3 categories_4 categories_5 categories_6"
        ". . . . . .";
        justify-content: space-between;

        .card_1
        {
            grid-area: card_1;
        }
        .card_2
        {
            grid-area: card_2;
        }
        .card_3
        {
            grid-area: card_3;
        }
        .card_4
        {
            grid-area: card_4;
        }
        .card_5
        {
            grid-area: card_5;
        }
        .card_6
        {
            grid-area: card_6;
        }

        .categories_1
        {
            grid-area: categories_1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 1cm;
        }
        .categories_2
        {
            grid-area: categories_2;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 1cm;
        }
        .categories_3
        {
            grid-area: categories_3;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 1cm;
        }
        .categories_4
        {
            grid-area: categories_4;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 1cm;
        }
        .categories_5
        {
            grid-area: categories_5;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 1cm;
        }
        .categories_6
        {
            grid-area: categories_6;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 1cm;
        }

        .product_card
        {
            height: 125px;
            width: 125px;
            border-radius: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            img 
            {
                max-width: 100%;
            }
        }
        .product_card:hover
        {
            box-shadow: 0px 3px 3px black;
            transition: 0.5s ease-out;
        }
    }
}

.section_4
{
    height: auto;
    width: 100%;
    padding: 0 70px 0 70px ;

    .header
    {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid gray;

        display: flex;
        justify-content: space-between;
        align-items: end;

        .section_title
        {
            border-bottom: 5px solid #2980B9;
            font-size: 20px
            ;
        }
        p 
        {
            padding-bottom: 15px;
        }
        span 
        {
            color: #2980B9;
            font-weight: bolder;
        }
        .view_all
        {
            font-size: 15px;
            height: 50px;
            display: flex;
            align-items: center;

            div 
            {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a 
            {
                text-decoration: none;
                font-size: 15px;

                img
                {
                    height: 10px;
                    width: 5px;
                    margin-left: 10px;
                }
            }
        }
    }
    .main 
    {
        height: 250px;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2em 170px 3em;
        grid-template-areas:  
        "."
        "categories_box"
        ".";

        .categories_box
        {
            grid-area: categories_box;
            display: flex;
            overflow: hidden;

            position: relative;

            .item 
            {
                position: absolute;
                top: 0%;
                left: 0%;
                height: var(--height);
                width: var(--width);

                animation: slider 15s linear infinite;  
                animation-delay: calc(15s / var(--quantity) * (var(--quantity) - var(--position)) * -1);    
                
                .img_default
                {
                    img
                    {
                        display: block;
                    }
                }
                .img_hover
                {
                    img
                    {
                        display: none;
                    }
                }
            }

            .item:hover
            {
                .img_default
                {
                    img
                    {
                        display: none;
                    }
                }
                .img_hover
                {
                    img
                    {
                        display: block;
                    }
                }
            }
            .item img 
            {
                height: 100%;
            }
        }
        .categories_box:hover .item
        {
            animation-play-state: paused!important;
        }
    }
}
@keyframes slider 
{
    from 
    {
        left: 100%;
    }    
    to 
    {
        left: calc(var(--width) * -2.3);
    }
}
.section_5
{
    height: auto;
    width: 100%;
    padding: 0 70px 0 70px ;

    .header
    {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid gray;

        display: flex;
        justify-content: space-between;
        align-items: end;

        .section_title
        {
            border-bottom: 5px solid #2980B9;
            font-size: 20px;
        }
        p 
        {
            padding-bottom: 15px;
        }
        span 
        {
            color: #2980B9;
            font-weight: bolder;
        }
        .view_all
        {
            font-size: 15px;
            height: 50px;
            display: flex;
            align-items: center;

            div 
            {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a 
            {
                text-decoration: none;
                font-size: 15px;

                img
                {
                    height: 10px;
                    width: 5px;
                    margin-left: 10px;
                }
            }
        }
    }
    .main 
    {
        height: 350px;

        display: grid;
        grid-template-columns: 230px 230px 230px 230px 230px;
        grid-template-rows: 2em 280px 1fr;
        grid-template-areas: 
        ". . . . ."
        "card_1 card_2 card_3 card_4 card_5"
        ". . . . .";
        justify-content: space-between;

        .card_1
        {
            grid-area: card_1;
        }
        .card_2
        {
            grid-area: card_2;
        }
        .card_3
        {
            grid-area: card_3;
        }
        .card_4
        {
            grid-area: card_4;
        }
        .card_5
        {
            grid-area: card_5;
        }
        
        .product_card
        {
            height: 280px;
            width: 230px;
            border-radius: 20px;

            img 
            {
                max-width: 100%;
            }
        }
        .product_card:hover
        {
            box-shadow: 0px 3px 3px gray;
            transition: 0.5s ease-out;
        }

    }
}

.section_6
{
    height: auto;
    width: 100%;
    padding: 0 70px 0 70px ;

    .header
    {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid gray;

        display: flex;
        justify-content: space-between;
        align-items: end;

        .section_title
        {
            padding-bottom: 20px;
            font-size: 20px;
        }
        span 
        {
            color: #2C3E50;
            font-weight: bolder;
        }
    }
    .main 
    {
        height: 550px;

        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 1.5em 465px 1em;
        grid-template-areas: 
        ". . . ."
        "card_1 card_2 card_3 card_4"
        ". . . .";
        gap: 0.1em;

        .card_1
        {
            grid-area: card_1;
        }
        .card_2
        {
            grid-area: card_2;
        }
        .card_3
        {
            grid-area: card_3;
        }
        .card_4
        {
            grid-area: card_4;
        }
        
        .product_card
        {
            height: 465px;
            width: 300px;
            border-radius: 20px;
            overflow: hidden;

            .img_default 
            {
                max-height: 100%;
                display: block;
            }
            .img_hover 
            {
                max-height: 100%;
                display: none;
            }
        }
        .product_card:hover
        {
            transition: 1s linear;

            .img_default 
            {
                display: none;
            }
            .img_hover 
            {
                display: block;
            }
        }

    }
}

footer
{
    height: 388px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 338px 50px;
    grid-template-areas: 
    "footer_links"
    "footer_bottom";

    .footer_links
    {
        grid-area: footer_links;

        background-color: #003366;

        display: grid;
        grid-template-columns: 600px 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: 
        "footer_support footer_services footer_social_links";

        .footer_support
        {
            grid-area: footer_support;

            display:  grid;
            grid-template-columns: 70px 1fr 1fr 70px;
            grid-template-rows: 50px 45px 45px 45px 45px 45px 45px 50px;
            grid-template-areas: 
            ". . . ."
            ". customer_care about_soundstage ."
            ". help_center about_us ."
            ". how_to_buy term_conditions ."
            ". how_to_return privacy_policy ."
            ". questions intellectual_property_protection ."
            ". contact_us press_media ."
            ". . . .";
            justify-content: space-between;
            align-content: space-between;

            .customer_care
            {
                grid-area: customer_care;
            }
            .help_center
            {
                grid-area: help_center;
            }
            .how_to_buy
            {
                grid-area: how_to_buy;
            }
            .how_to_return
            {
                grid-area: how_to_return;
            }
            .questions
            {
                grid-area: questions;
            }
            .contact_us
            {
                grid-area: contact_us;
            }

            .about_soundstage
            {
                grid-area: about_soundstage;
            }
            .about_us
            {
                grid-area: about_us;
            }
            .term_conditions
            {
                grid-area: term_conditions;
            }
            .privacy_policy
            {
                grid-area: privacy_policy;
            }
            .intellectual_property_protection
            {
                grid-area: intellectual_property_protection;
            }
            .press_media
            {
                grid-area: press_media;
            }
            h2 
            {
                color: white;
                font-size: 17px;
            }
            a
            {
                color: white;
                font-size: 15px;
                text-decoration: none;
            }
        }
        .footer_services
        {
            grid-area: footer_services;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 35px 120px 35px 120px 50px;
            grid-template-areas: 
            ". ."
            "payment payment"
            "payment_links payment_links"
            "delivery delivery"
            "delivery_links delivery_links"
            ". .";

            .payment
            {
                grid-area: payment;

                font-size: 17px;
                color: white;
            }
            .payment_links 
            {
                grid-area: payment_links;
                color: white;

                img 
                {
                    max-height: 50px;
                }
            }
            .delivery
            {
                grid-area: delivery;
                
                font-size: 20px;
                color: white;
            }
            .delivery_links 
            {
                grid-area: delivery_links;
                color: white;

                img 
                {
                    max-height: 50px;
                }
            }
        }
        .footer_social_links
        {
            grid-area: footer_social_links;
            
            display: grid;
            grid-template-columns: 1fr 1fr 50px;
            grid-template-rows: 50px 40px 55px 1fr 50px;
            grid-template-areas: 
            ". . ."
            "follow follow ."
            "social_link social_link ."
            ". . .";
            .follow
            {
                grid-area: follow;
                color: white;
                font-size: 17px;
                
            }
            .social_links 
            {
                grid-area: social_link;

                display: flex;
                align-items: center;
                gap: 20px;

                div 
                {
                    height: 30px;
                    width: 30px;
                    border-radius: 100%;

                    img 
                    {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .footer_bottom
    {
        grid-area: footer_bottom;

        background-color: #0099CC;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 70px 0 70px;

        p
        {
            color: white;
        }
    }
}