:root
{
    --hover_state: #2980B9;
    --text_color: #2C3E50;
}

*
{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    color: var(--text_color);
    font-family: Arial, sans-serif;
}
::-webkit-scrollbar
{
    display: none;
}
body
{
    overscroll-behavior: none;
}
main
{
    position: relative;
    height: auto;
    width: 100%;
    background-color: white;
}
header
{
    position: fixed;
    top: 0%;
    height: 100px;
    width: 100%;
    background-color: #ECF0F1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;

    display: grid;
    grid-template-columns: 150px 200px 1fr 200px 200px;
    grid-template-rows: 30px 1fr;
    grid-template-areas: 
    "blue_line blue_line blue_line blue_line blue_line"
    "box_1 box_2 box_3 box_4 box_5";

}

header .blue_line
{
    grid-area: blue_line;
    background-color:#003366;

    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr 70px;
    grid-template-rows: 1fr;
    grid-template-areas:  
    ". return trademark help .";

	p, a{color:white;text-decoration:none;font-size:12px;}
	.return{
        grid-area: return;
        display: flex;
        align-items: center;
    }
	.trademark{
        grid-area: trademark;   
        display: flex;
        align-items: center;
        justify-content: center;
    }
	.help{
        grid-area: help;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

header .box_1
{
    grid-area: box_1;

    display: flex;
    align-items: center;
    padding-left: 70px;

    .logo
    {
        height: 50px;
        width: 50px;
        border: none;

        cursor: pointer;

        img 
        {
            height: 50px;
            width: 50px;
        }
    }
}

header .box_2
{
    grid-area: box_2;

    display: flex;
    justify-content: start;
    align-items: center;

    .title
    {
        border: none;
        font-size: 27px;
        text-decoration: none;
        cursor: pointer;
    }
}

header .box_3
{
    grid-area: box_3;

    display: flex;
    justify-content: center;
    align-items: center;

    .search_container
    {
        height: 44px;
        width: 90%;
        border: 1px solid gray;
        border-radius: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search_icon
    {
        height: 25px;
        width: 25px;

        img 
        {
            height: 25px;
            width: 25px;
        }
    }
    input
    {
        height: 30px;
        width: 90%;
        border: none;
        outline: none;
        background-color: transparent;

        padding: 10px;
    }
}
header .box_4
{
    grid-area: box_4;

    display: flex;
    justify-content: center;
    align-items: center;

    /*
    .user_account
    {
        height: 44px;
        width: 100%;
        border: none;
        background-color: white;
        border-radius: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 0 1em 0 1em;

        .profile_pic 
        {
            height: 30px;
            width: 30px;
            border-radius: 100%;

            img 
            {
                max-width: 100%;
            }
        }
        .right_arrow
        {
            height: 10px;
            width: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            img 
            {
                max-height: 100%;
            }
        }
    }
    */
    .btn_container
    {
        height: auto;
        width: 100%;
        /*border: 1px solid black;*/

        display: flex;
        justify-content: end;
        align-items: center;
    }
    .profile_icon
    {
        height: 25px;
        width: 20px;

        margin-right: 10px;

        img 
        {
            height: 25px;
            width: 20px;
        }
    }
    .sign_up_btn
    {
        height: 40px;
        width: auto;
        font-size: 12px;

        border: none;
        text-decoration: none;
        cursor: pointer;
    }
    .sign_up_btn:hover
    {
        transition: 1s;
        color: var(--hover_state);
        text-decoration: underline;
    }
    .slash
    {
        height: 30px;
        width: 20px;

        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 30px;
    }
    .sign_in_btn
    {
        height: 40px;
        width: auto;
        font-size: 12px;
        
        border: none;
        text-decoration: none;
        cursor: pointer;
    }
    .sign_in_btn:hover
    {
        transition: 1s;
        color: var(--hover_state);
        text-decoration: underline;
    }
}

header .box_5
{
    grid-area: box_5;

    display: flex;
    justify-content: end;
    align-items: center;

    .cart_btn_container
    {
        height: 40px;
        width: auto;

        padding-left: 27px;
        border-left: 1px solid black;

        display: flex;
        align-items: center;
        padding-right: 70px;
    }
    .cart_icon
    {
        height: 25px;
        width: 25px;

        img 
        {
            height: 25px;
            width: 25px;
        }
    }
    .cart_btn
    {
        height: 30px;
        width: 50px;
        font-size: 12px;

        border: none;
        cursor: pointer;
    }
}

/*-----------------------------------------------------------*/
section
{
    background-color: #ECF0F1;
}

.section_1
{
    height: 100vh;
    display: grid;

    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 100px 80px 1fr ;
    grid-template-areas: 
    ". . ."
    "category_title category_title category_title"
    ". category_banner .";
}
.section_1 .category_title
{
    grid-area: category_title;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 70px 0 70px;
}
.section_1 .category_banner
{
    grid-area: category_banner;

    padding: 2em 0 2em 0;
    img 
    {
        max-width: 100%;
    }
}
.section_2
{
    display: grid;

    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 80px 80px auto;
    grid-template-areas: 
    ". . ."
    ". section_title ."
    ". section_content .";
}
.section_2 .section_title
{
    grid-area: section_title;

    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}
.section_2 .section_content
{
    grid-area: section_content;

    display: flex;
    justify-content: space-between;

    .product_card
    {
        height: 300px;
        width: 200px;

        img
        {
            max-width: 100%;
        }
    }
    .product_card:hover img
    {
        border-radius: 10px;
        box-shadow: 0 10px 10px gray;
    }
}

.section_3
{
    display: grid;

    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 80px 80px auto;
    grid-template-areas: 
    ". . ."
    ". section_title ."
    ". section_content .";
}
.section_3 .section_title
{
    grid-area: section_title;

    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}
.section_3 .section_content
{
    grid-area: section_content;
    
    display: flex;
    flex-wrap: wrap;
    gap: 3.34em; /*2em*/
    padding-bottom: 3.34em; /*2em;*/
    /*
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    justify-content: space-evenly;
    */

    .product_card
    {
        height: 300px;
        width: 200px;

        img
        {
            max-width: 100%;
        }
    }
    .product_card:hover img
    {
        border-radius: 10px;
        box-shadow: 0 10px 10px gray;
    }
}

footer
{
    height: 388px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 338px 50px;
    grid-template-areas: 
    "footer_links"
    "footer_bottom";

    .footer_links
    {
        grid-area: footer_links;

        background-color: #003366;

        display: grid;
        grid-template-columns: 600px 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: 
        "footer_support footer_services footer_social_links";

        .footer_support
        {
            grid-area: footer_support;

            display:  grid;
            grid-template-columns: 70px 1fr 1fr 70px;
            grid-template-rows: 50px 45px 45px 45px 45px 45px 45px 50px;
            grid-template-areas: 
            ". . . ."
            ". customer_care about_soundstage ."
            ". help_center about_us ."
            ". how_to_buy term_conditions ."
            ". how_to_return privacy_policy ."
            ". questions intellectual_property_protection ."
            ". contact_us press_media ."
            ". . . .";
            justify-content: space-between;
            align-content: space-between;

            .customer_care
            {
                grid-area: customer_care;
            }
            .help_center
            {
                grid-area: help_center;
            }
            .how_to_buy
            {
                grid-area: how_to_buy;
            }
            .how_to_return
            {
                grid-area: how_to_return;
            }
            .questions
            {
                grid-area: questions;
            }
            .contact_us
            {
                grid-area: contact_us;
            }

            .about_soundstage
            {
                grid-area: about_soundstage;
            }
            .about_us
            {
                grid-area: about_us;
            }
            .term_conditions
            {
                grid-area: term_conditions;
            }
            .privacy_policy
            {
                grid-area: privacy_policy;
            }
            .intellectual_property_protection
            {
                grid-area: intellectual_property_protection;
            }
            .press_media
            {
                grid-area: press_media;
            }
            h2 
            {
                color: white;
                font-size: 17px;
            }
            a
            {
                color: white;
                font-size: 15px;
                text-decoration: none;
            }
        }
        .footer_services
        {
            grid-area: footer_services;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 35px 120px 35px 120px 50px;
            grid-template-areas: 
            ". ."
            "payment payment"
            "payment_links payment_links"
            "delivery delivery"
            "delivery_links delivery_links"
            ". .";

            .payment
            {
                grid-area: payment;

                font-size: 17px;
                color: white;
            }
            .payment_links 
            {
                grid-area: payment_links;
                color: white;

                img 
                {
                    max-height: 50px;
                }
            }
            .delivery
            {
                grid-area: delivery;
                
                font-size: 20px;
                color: white;
            }
            .delivery_links 
            {
                grid-area: delivery_links;
                color: white;

                img 
                {
                    max-height: 50px;
                }
            }
        }
        .footer_social_links
        {
            grid-area: footer_social_links;
            
            display: grid;
            grid-template-columns: 1fr 1fr 50px;
            grid-template-rows: 50px 40px 55px 1fr 50px;
            grid-template-areas: 
            ". . ."
            "follow follow ."
            "social_link social_link ."
            ". . .";
            .follow
            {
                grid-area: follow;
                color: white;
                font-size: 17px;
                
            }
            .social_links 
            {
                grid-area: social_link;

                display: flex;
                align-items: center;
                gap: 20px;

                div 
                {
                    height: 30px;
                    width: 30px;
                    border-radius: 100%;

                    img 
                    {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .footer_bottom
    {
        grid-area: footer_bottom;

        background-color: #0099CC;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 70px 0 70px;

        p
        {
            color: white;
        }
    }
}