@font-face {
  font-family: "Inter";
  src: url(../fonts/static/Inter_18pt-Regular.ttf) format("truetype");
}

:root {
  --bs-primary: #003366;
  --bs-secondary: #ff9900;
  --bs-success: #34a853;
}


* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background-color: #ecf0f1;
}

.sidebar {
  height: 100vh;
  padding: 20px;
}

aside {
  position: absolute;
  left: 0;
}

.product-card {
  height: 260px;
  width: 200px;
}

.card .card-img-top {
  display: block;
  height: 120px;
  object-fit: contain;
  padding-top: 5px;
}


