<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Chu2Page.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
	<main>
        <header>
			<div class="blue_line">
				<p class="return">30 Days Free Returns</p>
				<p class="trademark">"Where every beat comes to life"</p>
				<p class="help"><a href="#">® Help</a></p>
			</div>
            <div class="box_1">
                <button class="logo">
                    <img src="icons/menu.png" alt="">
                </button>
            </div>
            <div class="box_2">
                <button class="title">SoundStage</button>
            </div>
            <div class="box_3">
                <div class="search_container">
                    <div class="search_icon">
                        <img src="icons/search.png" alt="">
                    </div>
                    <input type="text" placeholder="Search IEM, Headphones and more...">
                </div>
            </div>
            <div class="box_4">
                <div class="btn_container">
                    <div class="profile_icon">
                        <img src="icons/signin.png" alt="">
                    </div>
                    <div><a class="sign_up_btn" href="sign_up_page.html">Sign Up</a></div>
                    <div class="slash">/</div>
                    <div><a class="sign_in_btn" href="sign_in_page.html">Sign In</a></div>
                </div>
            </div> 
			<div class="box_5">
                <div class="cart_btn_container">
                    <div class="cart_icon">
                        <img src="icons/cart.png" alt="">
                    </div>
                    <button class="cart_btn">Cart</button>
                </div>
            </div>
        </header>
		
	<section>	
	<div class="left">
		<div class="product">
			<div class="prod1">
				<img class="mainpic" src="1.png" alt="MainPic">
				<!--<img class="subpic" src="p1.png" alt="">-->
			</div>
			<div class="prod2">
				<div class="prodname">
						<p>Moondrop CHU II DSP High Performance Dynamic Driver In-Ear Monitor </p>
						
					</div>
					<div class="price">
						<p>₱1,109.00</p>
					</div>	
					
					<div class="rating">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<p class="rating">- 21 reviews</p>
					</div>
					
				
					<div class="quantityselect">
						<p>Quantity:&nbsp;</p>
						<button class="decrease">−</button>
						<input type="number" value="1" min="1" max="10" class="quantity-input">
						<button class="increase">+</button>
						<h5>&nbsp;100 available ‐ 23 sold (Maximum of 10 items per transaction)</h5>
						
					</div>	

				<div class="buttons">
					<br>
					<button class="buynow">Buy now</button>
					<button class="addtocart">Add to cart</button>
					<button class="wishlist">♡&nbsp;Add to Wishlist</button>
				</div>
				<div class="botpart">
					<br>
					<p>Delivery Time: approx. 2-3 days</p>
					<br>
					<div class="pay">
						<p>Payments:&nbsp;</p>
						<div class="row1">
							<img src="2.png" alt="COD">
							<img src="3.png" alt="GCats">
							<img src="4.png" alt="PayPal">
						</div>
						
					</div>

					<div class="share">
						<p>Share:&nbsp;</p>
						<div class="row2">
							<a href=""><img src="5.png" alt="messenger"></a>
							<a href=""><img src="6.png" alt="fb"></a>
							<a href=""><img src="7.png" alt="x"></a>
							<a href=""><img src="8.png" alt="tiktok"></a>
						</div>
						
					</div>
				</div>

	

				
			</div>
			
			<div class="prod3">
				<div class="specs">
							
					<h3>Specifications</h3>
					<br>
					<ul>
						<li>Model: CHU 2 DSP high-performance dynamic driver in-ear Monitors</li>
						<li>Cavity material: ZN alloy</li>
						<li>Driver : 10mm high-performance dynamic driver</li>
						<li>Diaphragm Aluminum-manesium alloy composite diaphragm</li>
						<li>Cable Jack:0.78mm-2pin</li>
						<li>Plug : USB-C</li>
						<li>Frequency Response Range: 15Hz-38kHz</li>
						<li>Effective Frequency Response: 20Hz-20kHz (IEC60318-4,-3dB)</li>
						<li>THD: THD≤0.5%(@1kHz,94dB)</li>
					</ul>
					<br>
					<br>
					<h3>Inside the box</h3>
					<br>
					<ul>
						<li>Earphone*1</li>
						<li>Wearing Card*1</li>
						<li>Certificate*1</li>
						<li>Manual*1</li>
						<li>Cable*1</li>
						<li>Leather Case*1</li>
						<li>Ear-tips (S,M,L)*1</li>
					</ul>
					<br>
					<br>
				</div>
				<div class="gallery">
					<div class="tab-buttons">
						<button class="tab-btn active" data-tab="productgallery">Product Gallery</button>
						<button class="tab-btn" data-tab="rates">Reviews</button>
					</div>

					<div id="productgallery" class="tab-content active">
						<div class="pics">
							<img src="gallery/1.jpg" alt="">
							<img src="gallery/2.jpg" alt="">
							<img src="gallery/3.jpg" alt="">
							<img src="gallery/4.jpg" alt="">
							<img src="gallery/5.jpg" alt="">
							<img src="gallery/6.jpg" alt="">
							<img src="gallery/7.jpg" alt="">
							<img src="gallery/8.jpg" alt="">
							
						</div> 
						<br>
						<br>
					</div>

				<div id="rates" class="tab-content">
						
					<div class="ratediv">
						<div class="stars" >	
							<br>
							<p><strong>Customer Reviews</strong></p>
							<p>★★★★★ - 21 </p>
							<p>★★★★☆ - 0</p>
							<p>★★★☆☆ - 0</p>
							<p>★★☆☆☆ - 0</p>
							<p>★☆☆☆☆ - 0</p>
							<br><br>
						</div>
						<div class="anonymous" >	
							<br>
							<p>★★★★★ </p>
							<h3>Anonymous</h3>
							<p>Great item, been using it and it sounds great.</p>
							<br>
							<p>★★★★★ </p>
							<h3>Anonymous</h3>
							<p>Great item, been using it and it sounds great.</p>
							<br><p>★★★★★ </p>
							<h3>Anonymous</h3>
							<p>Great item, been using it and it sounds great.</p>
							<br>
						</div>
					</div>
				</div>
				<br>
				<br>
				
				</div>
			</div>
			
		</div>
	</div>	
	<div class="right">
		<h2>About</h2>
		<br>
		<h3>Coverage</h3>
		<p>We provide nationwide shipping across the Philippines through our partner carrier, Ninjavan Philippines. Shipping fees are calculated at checkout based on items and location.</p>
		<br>
		<h3>Shopping Restrictions</h3>
		<p>For bulk orders, please reach out to us directly for customized quotes and discounts.</p>
		<br>
		<h3>Processing Time</h3>
		<p>Orders are fulfilled within 24 hours of being placed, excluding Sundays, ensuring a quick dispatch.</p>
		<br>
		<h3>Lost or Damaged Items</h3>
		<p>If you suspect a parcel is suspicious, you may choose not to receive it. We encourage recording a video during unboxing to document the item’s condition.</p>
		<br><hr>
		<br>
		<h3>You may also like...</h3>
		<div class="suggests">
				<div class= "prodsuggest"><a href="#">
					<img src="11.png" class= "imgdetails" alt="">
					<div class= "details">
					
						<p class="brand">Moondrop</p>
						<p id= "name">Moondrop Quarks</p>
						<div class="rating">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<p class="rating">(21)</p>
							<p id= "price" >₱649</p>
						</div></a>
					</div>	
				</div>
				<div class= "prodsuggest">
					<a href="#">
					<img src="12.png" class= "imgdetails" alt="">
					<div class= "details">
					
						<p class="brand">QKZ</p>
						<p id= "name">QKZ AKX</p>
						<div class="rating">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<p class="rating">(21)</p>
							<p id= "price" >₱199</p>
						</div>
					</a>
					</div>	
				</div>
				<div class= "prodsuggest"><a href="#">
					<img src="13.png" class= "imgdetails" alt="">
					<div class= "details">
					
						<p class="brand">Plextone</p>
						<p id= "name">Plextone RX5</p>
						<div class="rating">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<p class="rating">(21)</p>
							<p id= "price" >₱379</p>
						</div></a>
					</div>	
				</div>
				<div class= "prodsuggest"><a href="#">
					<img src="14.png" class= "imgdetails" alt="">
					<div class= "details">
					
						<p class="brand">KZ</p>
						<p id= "name">KZ EDX Pro</p>
						<div class="rating">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<p class="rating">(21)</p>
							<p id= "price" >₱679</p>
						</div></a>
					</div>	
				</div>
				<div class= "prodsuggest"><a href="#">
					<img src="11.png" class= "imgdetails" alt="">
					<div class= "details">
					
						<p class="brand">CCA</p>
						<p id= "name">CCA CRA</p>
						<div class="rating">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<p class="rating">(21)</p>
							<p id= "price" >₱599</p>
						</div></a>
					</div>	
				</div>
		</div>
	</div>
	
		
		
	</section>

	<script>
		//FOR QUANTITY
		const decreaseBtn = document.querySelector('.decrease');
		const increaseBtn = document.querySelector('.increase');
		const input = document.querySelector('.quantity-input');

		decreaseBtn.addEventListener('click', () => {
			let current = parseInt(input.value);
			if (current > 1) {
			  input.value = current - 1;
			}
		});

		increaseBtn.addEventListener('click', () => {
			let current = parseInt(input.value);
			if (current < 10) {
			  input.value = current + 1;
			}
		});


		input.addEventListener('input', () => {
			let value = parseInt(input.value);
			if (isNaN(value) || value < 1) input.value = 1;
			if (value > 10) input.value = 10;
		});
	  
	  //FOR SWITCHING DIVS
		const buttons = document.querySelectorAll('.tab-btn');
		const contents = document.querySelectorAll('.tab-content');

		buttons.forEach(btn => {
		btn.addEventListener('click', () => {
        buttons.forEach(b => b.classList.remove('active'));
        contents.forEach(c => c.classList.remove('active'));

        btn.classList.add('active');
        document.getElementById(btn.dataset.tab).classList.add('active');
      });
    });
	</script>
	
	
	<footer>
            <div class="footer_links">
                <div class="footer_support">

                    <h2 class="customer_care">CUSTOMER CARE</h2>
                    <a href="" class="help_center">Help Center</a>
                    <a href="" class="how_to_buy">How to Buy</a>
                    <a href="" class="how_to_return">How to Return</a>
                    <a href="" class="questions">Questions?</a>
                    <a href="" class="contact_us">Contact Us</a>

                    <h2 class="about_soundstage">ABOUT SOUNDSTAGE</h2>
                    <a href="" class="about_us">About Us</a>
                    <a href="" class="term_conditions">Term & Conditions</a>
                    <a href="" class="privacy_policy">Privacy & Policy</a>
                    <a href="" class="intellectual_property_protection">Intellectual Property Protection</a>
                    <a href="" class="press_media">Press & Media</a>

                </div>
                <div class="footer_services">
                    <h2 class="payment">PAYMENT</h2>
                    <div class="payment_links">
                        <img src="icons/cod.png" alt="">
                        <img src="icons/gcash.png" alt="">
                        <img src="icons/paypal.png" alt="">
                    </div>
                    <h2 class="delivery">DELIVERY SERVICE</h2>
                    <div class="delivery_links">
                        <img src="icons/j&t.png" alt="">
                        <img src="icons/ninjavan.png" alt="">
                        <img src="icons/flash.png" alt="">
                    </div>
                </div>
                <div class="footer_social_links">
                    <h2 class="follow">Follow Us</h2>
                    <div class="social_links">
                        <div class="facebook">
                            <img src="icons/facebook.png" alt="">
                        </div>
                        <div class="x">
                            <img src="icons/x.png" alt="">
                        </div>
                        <div class="instagram">
                            <img src="icons/instagram.png" alt="">
                        </div>
                        <div class="tiktok">
                            <img src="icons/tiktok.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p>&copy; 2025 SoundStage. All Rights Reserved.</p>
                <p>SoundStage</p>
            </div>
        </footer>
        
    
	</main>
	</body>
	</html>