<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Prodstyle.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
	<main>
        <header>
            <div class="box_1">
                <button class="logo">
                    <img src="icons/menu.png" alt="">
                </button>
            </div>
            <div class="box_2">
                <button class="title">SoundStage</button>
            </div>
            <div class="box_3">
                <div class="search_container">
                    <div class="search_icon">
                        <img src="icons/search.png" alt="">
                    </div>
                    <input type="text" placeholder="Search IEM, Headphones and more...">
                </div>
            </div>
            <div class="box_4">
                <div class="btn_container">
                    <div class="profile_icon">
                        <img src="icons/signin.png" alt="">
                    </div>
                    <div><a class="sign_up_btn" href="sign_up_page.html">Sign Up</a></div>
                    <div class="slash">/</div>
                    <div><a class="sign_in_btn" href="sign_in_page.html">Sign In</a></div>
                </div>
            </div> 
			<div class="box_5">
                <div class="cart_btn_container">
                    <div class="cart_icon">
                        <img src="icons/cart.png" alt="">
                    </div>
                    <button class="cart_btn">Cart</button>
                </div>
            </div>
        </header>
	<section>	
	
		<div class= "box6">
			<p>In-Ear Monitors</p> 
		</div>
		<div class= "box7">
			<img src="icons/image42.png">
		</div>
		<div class= "box8">
			<h3>New Arrivals</h3> 
		</div>
		
    <div class= "newprods">
			<div class= "allprods">
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/1.png" />
				<p class="brand">TRN</p>
				<p id= "name">TRN MT1</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱349&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/2.png" />
				<p class="brand">KZ</p>
				<p id= "name">KZ ZST Pro</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱699&nbsp;&nbsp;&nbsp;&nbsp;</p> <!--pag 3digits lang yung price lagyan ng tatlong nbsp-->
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/3.png" />
				<p class="brand">Zealot</p>
				<p id= "name">KZ ZST X</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱749&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
				
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/4.png" />
				<p class="brand">Truthear</p>
				<p id= "name">Truthear Nova</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star-o "></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱8,499&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/5.png" />
				<p class="brand">Moondrop</p>
				<p id= "name">Moondrop Variations</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star-half-full"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱28,999</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
		</div>
		
		<div class= "box8">
			<br>
			<h3>All In-Ear Monitors</h3> 
		</div>
	
		<div class= "allprods">
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/6.png" />
				<p class="brand">Moondrop</p>
				<p id= "name">Moondrop CHU II</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱1,100&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/7.png" />
				<p class="brand">Truthear</p>
				<p id= "name">Truthear Zero : RED</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱3,019&nbsp;&nbsp;</p> <!--pag 3digits lang yung price lagyan ng tatlong nbsp-->
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/8.png" />
				<p class="brand">Truthear</p>
				<p id= "name">Truthear Hexa</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱4,499&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
				
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/9.png" />
				<p class="brand">Tangzu</p>
				<p id= "name">Tangzu Wan’er</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star-o "></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱999&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/10.png" />
				<p class="brand">KZ</p>
				<p id= "name">KZ Castor</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star-half-full"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱699&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/11.png" />
				<p class="brand">Moondrop</p>
				<p id= "name">Moondrop Quarks Micro</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱649&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/12.png" />
				<p class="brand">QKZ</p>
				<p id= "name">QKZ AKX</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱199&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/13.png" />
				<p class="brand">Plextone</p>
				<p id= "name">Plextone RX5</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱379&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/14.png" />
				<p class="brand">KZ</p>
				<p id= "name">KZ EDX Pro</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱679&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/15.png" />
				<p class="brand">CCA</p>
				<p id= "name">CCA CRA</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱599&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
			<div class="productcard">
				<a href= "fb.com">
				<img src="Products/16.png" />
				<p class="brand">QKZ</p>
				<p id= "name">QKZ ZXN Metal</p>
				<div class="rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<p class="rating">(21)</p>
				</div>
				<p id= "price" >₱429&nbsp;&nbsp;&nbsp;&nbsp;</p>
				</a>
				<a href="#" class="cartimg">
					<img class="unchanged"src="icons/cart.png"/>
					<img class="changed" src="icons/whitecart.png"/>
				</a>
			</div>
			
		</div>
		
		<div class="afterproduct" >
			
		
		</div>
		
		
	</section>

	
	<footer>
            <div class="footer_links">
                <div class="footer_support">

                    <h2 class="customer_care">CUSTOMER CARE</h2>
                    <a href="" class="help_center">Help Center</a>
                    <a href="" class="how_to_buy">How to Buy</a>
                    <a href="" class="how_to_return">How to Return</a>
                    <a href="" class="questions">Questions?</a>
                    <a href="" class="contact_us">Contact Us</a>

                    <h2 class="about_soundstage">ABOUT SOUNDSTAGE</h2>
                    <a href="" class="about_us">About Us</a>
                    <a href="" class="term_conditions">Term & Conditions</a>
                    <a href="" class="privacy_policy">Privacy & Policy</a>
                    <a href="" class="intellectual_property_protection">Intellectual Property Protection</a>
                    <a href="" class="press_media">Press & Media</a>

                </div>
                <div class="footer_services">
                    <h2 class="payment">PAYMENT</h2>
                    <div class="payment_links">
                        <img src="icons/cod.png" alt="">
                        <img src="icons/gcash.png" alt="">
                        <img src="icons/paypal.png" alt="">
                    </div>
                    <h2 class="delivery">DELIVERY SERVICE</h2>
                    <div class="delivery_links">
                        <img src="icons/j&t.png" alt="">
                        <img src="icons/ninjavan.png" alt="">
                        <img src="icons/flash.png" alt="">
                    </div>
                </div>
                <div class="footer_social_links">
                    <h2 class="follow">Follow Us</h2>
                    <div class="social_links">
                        <div class="facebook">
                            <img src="icons/facebook.png" alt="">
                        </div>
                        <div class="x">
                            <img src="icons/x.png" alt="">
                        </div>
                        <div class="instagram">
                            <img src="icons/instagram.png" alt="">
                        </div>
                        <div class="tiktok">
                            <img src="icons/tiktok.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p>&copy; 2025 SoundStage. All Rights Reserved.</p>
                <p>SoundStage</p>
            </div>
        </footer>
        
    
	</main>
	</body>
	</html>