<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Home_page.css">
    <title>Document</title>
</head>
<body>
    <main>

        <header>

            <div class="blue_line">
				<p class="return">30 Days Free Returns</p>
				<p class="trademark">"Where every beat comes to life"</p>
				<p class="help"><a href="#">® Help</a></p>
			</div>

            <div class="box_1">
                <button class="logo">
                    <img src="assets/img/menu_icon.png" alt="">
                </button>
            </div>
            <div class="box_2">
                <a class="title" href="">SoundStage</a>
            </div>
            <div class="box_3">
                <div class="search_container">
                    <div class="search_icon">
                        <img src="assets/img/search_icon.png" alt="">
                    </div>
                    <input type="text" placeholder="Search IEM, Headphones and more...">
                </div>
            </div>
            <div class="box_4">

                <!--User account btn-->
                <!--
                <button class="user_account">
                    <div class="profile_pic">
                        <img src="assets/img/profile_pic/user.png" alt="">
                    </div>
                    <p class="user_name">Jechko Avio</p>
                    <div class="right_arrow">
                        <img src="assets/img/right_arrow.png" alt="">
                    </div>
                </button>
                -->
                
                <!-- sign-in and sign-up btn-->
                <div class="btn_container">
                    <div class="profile_icon">
                        <img src="assets/img/profile_icon.png" alt="">
                    </div>
                    <div><a class="sign_up_btn" href="sign_up_page.html">Sign Up</a></div>
                    <div class="slash">/</div>
                    <div><a class="sign_in_btn" href="sign_in_page.html">Sign In</a></div>
                </div>

            </div>
            <div class="box_5">
                <div class="cart_btn_container">
                    
                    <div class="cart_icon">
                        <img src="assets/img/cart_icon.png" alt="">
                    </div>
                    <button class="cart_btn">Cart</button>
                
                </div>
            </div>
        </header>

        <section class="section_1">
            <div class="header"></div>
            <div class="main">
                <div class="carousel_images_holder">

                    <div class="carousel_track">
                        <div class="carousel_slide">
                            <img src="assets/img/carousel_img/image_1.png" alt="">
                            <a href="IEM_CP.html"><h2>Shop Now</h2></a>
                        </div>
                        <div class="carousel_slide">
                            <img src="assets/img/carousel_img/image_2.png" alt="">
                            <a href=""><h2>Shop Now</h2></a>
                        </div>
                        <div class="carousel_slide">
                            <img src="assets/img/carousel_img/image_3.png" alt="">
                            <a href=""><h2>Shop Now</h2></a>
                        </div>
                        <div class="carousel_slide">
                            <img src="assets/img/carousel_img/image_4.png" alt="">
                            <a href=""><h2>Shop Now</h2></a>
                        </div>
                        <div class="carousel_slide">
                            <img src="assets/img/carousel_img/image_5.png" alt="">
                            <a href=""><h2>Shop Now</h2></a>
                        </div>
                        <div class="carousel_slide">
                            <img src="assets/img/carousel_img/image_6.png" alt="">
                            <a href=""><h2>Shop Now</h2></a>
                        </div>
                    </div>

                    <div class="carousel_dots">

                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
    
                    </div>

                </div>

                <button class="carousel_button left">
                    <img src="assets/img/left_arrow_icon.png" alt="">
                </button>
                <button class="carousel_button right">
                    <img src="assets/img/right_arrow_icon.png" alt="">
                </button>
                
            </div>
            <div class="footer">
                <div class="btn_container">
                    <div class="delivery grid_box">
                        <div class="delivery_icon">
                            <img src="assets/img/delivery_truck_icon.png" alt="">
                        </div>
                        <div class="text">Fast and safe delivery at your doorstep</div>
                    </div>
                    <div class="cash grid_box">
                        <div class="cash_icon">
                            <img src="assets/img/cash_icon.png" alt="">
                        </div>
                        <div class="text">Cash on delivery and online payment available</div>
                    </div>
                    <div class="discount grid_box">
                        <div class="discount_icon">
                            <img src="assets/img/discount_icon.png" alt="">
                        </div>
                        <div class="text">Discount and sales to our deals more affordable</div>
                    </div>
                    <div class="customer_service grid_box">
                        <div class="cs_icon">
                            <img src="assets/img/customer_service_icon.png" alt="">
                        </div>
                        <div class="text">Ready and friendly customer service<br>that is eager to help you</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section_2">
            <div class="header">
                <div class="section_title"><p>Grab the Best deal on <span>In-Ear Monitors (IEM)</span></p></div>
                <div class="view_all">
                    <div><a href="">Veiw All
                        <img src="assets/img/view_all_arrow_icon.png" alt="">
                    </a></div>
                </div>
            </div>
            <div class="main">
                <a href="product_page/Product_1.html" class="product_card card_1">
                    <div class="product_img">
                        <img src="assets/img/products/chu.png" alt="">
                    </div>
                    <div class="product_info">
                        <p class="text">Moondrop CHU II Dynamic<br>Driver In-Ear Monitor</p>
                        <p class="price">&#8369 1,109.00 <span>&#8369 1,200.00</span></p>
                    </div>
                    <div class="product_price">
                        <p>Save - &#8369 91.00</p>
                    </div>
                </a>
                <a href="product_page/Product_2.html" class="product_card card_2">
                    <div class="product_img">
                        <img src="assets/img/products/zero_red.png" alt="">
                    </div>
                    <div class="product_info">
                        <p class="text">Truthear X Crinacle Zero: RED<br>Dual Dynamic Driver In-Easr<br>Monitor</p>
                        <p class="price">&#8369 3,019.00 <span>&#8369 3,150.00</span></p>
                    </div>
                    <div class="product_price">
                        <p>Save - &#8369 131.00</p>
                    </div>
                </a>
                <a href="product_page/Product_3.html" class="product_card card_3">
                    <div class="product_img">
                        <img src="assets/img/products/hexa.png" alt="">
                    </div>
                    <div class="product_info">
                        <p class="text">Truthear Hexa 1DD+3BA Hybrid<br>Dynamic+Balanced Armature<br>Driver IEM</p>
                        <p class="price">&#8369 4,499.00 <span>&#8369 4,600.00</span></p>
                    </div>
                    <div class="product_price">
                        <p>Save - &#8369 101.00</p>
                    </div>
                </a>
                <a href="product_page/Product_4.html" class="product_card card_4">
                    <div class="product_img">
                        <img src="assets/img/products/wan'er.png" alt="">
                    </div>
                    <div class="product_info">
                        <p class="text">Tangzu Wan'er Dynamic Driver<br>In-Ear Monitor</p>
                        <p class="price">&#8369 999.00 <span>&#8369 1,010.00</span></p>
                    </div>
                    <div class="product_price">
                        <p>Save - &#8369 11.00</p>
                    </div>
                </a>
                <a href="product_page/Product_5.html" class="product_card card_5">
                    <div class="product_img">
                        <img src="assets/img/products/castor.png" alt="">
                    </div>
                    <div class="product_info">
                        <p class="text">KZ Castor Bass Edition<br>Dynamic Driver Adjustable<br>Turning In-Ear Monitor</p>
                        <p class="price">&#8369 659.00 <span>&#8369 899.00</span></p>
                    </div>
                    <div class="product_price">
                        <p>Save - &#8369 141.00</p>
                    </div>
                </a>
            </div>
        </section>

        <section class="section_3">
            <div class="header">
                <div class="section_title"><p>Shop From <span>Top Categories</span></p></div>
                <div class="view_all">
                    <div><a href="">Veiw All
                        <img src="assets/img/view_all_arrow_icon.png" alt="">
                    </a></div>
                </div>
            </div>
            <div class="main">
                <a class="product_card card_1" href="IEM_CP.html">
                        <img src="assets/img/products/categories/iems.png" alt="">
                </a>
                <div class="categories_name categories_1">IEMs</div>

                <a class="product_card card_2" href="Headphone_CP.html">
                    <img src="assets/img/products/categories/headphone.png" alt="">
                </a>
                <div class="categories_name categories_2">Headphones</div>

                <a class="product_card card_3" href="">
                    <img src="assets/img/products/categories/earbuds.png" alt="">
                </a>
                <div class="categories_name categories_3">True Wireless Stereo</div>

                <a class="product_card card_4" href="">
                    <img src="assets/img/products/categories/audio.png" alt="">
                </a>
                <div class="categories_name categories_4">Audio Accessories</div>

                <a class="product_card card_5" href="">
                    <img src="assets/img/products/categories/media_player.png" alt="">
                </a>
                <div class="categories_name categories_5">Digital Audio Player</div>

                <a class="product_card card_6" href="">
                    <img src="assets/img/products/categories/speaker.png" alt="">
                </a>
                <div class="categories_name categories_6">Speaker</div>

            </div>
        </section>

        <section class="section_4">
            <div class="header">
                <div class="section_title"><p>Top <span>True-Wireless Stereo (TWS) Brands</span></p></div>
                <div class="view_all">
                    <div><a href="">Veiw All
                        <img src="assets/img/view_all_arrow_icon.png" alt="">
                    </a></div>
                </div>
            </div>
            <div class="main">
                <div class="categories_box"
                style=" 
                       --width: 344px;
                       --height: 100%;
                       --quantity: 5;">
                       
                    <div class="item" style="--position: 1">
                        <a class="img_default" href=""><img src="assets/img/brands/apple.png" alt=""></a>
                        <a class="img_hover" href=""><img src="assets/img/brands/apple_hover.png" alt=""></a>
                    </div>
                    <div class="item" style="--position: 2">
                        <a class="img_default" href=""><img src="assets/img/brands/sony.png" alt=""></a>
                        <a class="img_hover" href=""><img src="assets/img/brands/sony_hover.png" alt=""></a>
                    </div>
                    <div class="item" style="--position: 3">
                        <a class="img_default" href=""><img src="assets/img/brands/bose.png" alt=""></a>
                        <a class="img_hover" href=""><img src="assets/img/brands/bose_hover.png" alt=""></a>
                    </div>
                    <div class="item" style="--position: 4">
                        <a class="img_default" href=""><img src="assets/img/brands/jbl.png" alt=""></a>
                        <a class="img_hover" href=""><img src="assets/img/brands/jbl_hover.png" alt=""></a>
                    </div>
                    <div class="item" style="--position: 5">
                        <a class="img_default" href=""><img src="assets/img/brands/moondrop.png" alt=""></a>
                        <a class="img_hover" href=""><img src="assets/img/brands/moondrop_hover.png" alt=""></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section_5">
            <div class="header">
                <div class="section_title"><p>Overiew of our <span>Audio Accessories</span></p></div>
                <div class="view_all">
                    <div><a href="">Veiw All
                        <img src="assets/img/view_all_arrow_icon.png" alt="">
                    </a></div>
                </div>
            </div>
            <div class="main">
                <a href="" class="product_card card_1">
                    <img src="assets/img/accessories/accessory_1.png" alt="">
                </a>
                <a href="" class="product_card card_2">
                    <img src="assets/img/accessories/accessory_2.png" alt="">
                </a>
                <a href="" class="product_card card_3">
                    <img src="assets/img/accessories/accessory_3.png" alt="">
                </a>
                <a href="" class="product_card card_4">
                    <img src="assets/img/accessories/accessory_4.png" alt="">
                </a>
                <a href="" class="product_card card_5">
                    <img src="assets/img/accessories/accessory_5.png" alt="">
                </a>
            </div>
        </section>

        <section class="section_6">
            <div class="header">
                <div class="section_title"><span>Latest Blog Posts</span></div>
            </div>
            <div class="main">
                <a href="" class="product_card card_1">
                    <img class="img_default" src="assets/img/blog/blog_1.png" alt="">
                    <img class="img_hover" src="assets/img/blog/blog_1_hover.png" alt="">
                </a>
                <a href="" class="product_card card_2">
                    <img class="img_default" src="assets/img/blog/blog_2.png" alt="">
                    <img class="img_hover" src="assets/img/blog/blog_2_hover.png" alt="">
                </a>
                <a href="" class="product_card card_3">
                    <img class="img_default" src="assets/img/blog/blog_3.png" alt="">
                    <img class="img_hover" src="assets/img/blog/blog_3_hover.png" alt="">
                </a>
                <a href="" class="product_card card_4">
                    <img class="img_default" src="assets/img/blog/blog_4.png" alt="">
                    <img class="img_hover" src="assets/img/blog/blog_4_hover.png" alt="">
                </a>
            </div>
        </section>

        <footer>
            <div class="footer_links">
                <div class="footer_support">

                    <h2 class="customer_care">CUSTOMER CARE</h2>
                    <a href="" class="help_center">Help Center</a>
                    <a href="" class="how_to_buy">How to Buy</a>
                    <a href="" class="how_to_return">How to Return</a>
                    <a href="" class="questions">Questions?</a>
                    <a href="" class="contact_us">Contact Us</a>

                    <h2 class="about_soundstage">ABOUT SOUNDSTAGE</h2>
                    <a href="" class="about_us">About Us</a>
                    <a href="" class="term_conditions">Term & Conditions</a>
                    <a href="" class="privacy_policy">Privacy & Policy</a>
                    <a href="" class="intellectual_property_protection">Intellectual Property Protection</a>
                    <a href="" class="press_media">Press & Media</a>

                </div>
                <div class="footer_services">
                    <h2 class="payment">PAYMENT</h2>
                    <div class="payment_links">
                        <img src="assets/img/payment_logo/cod.png" alt="">
                        <img src="assets/img/payment_logo/gcash.png" alt="">
                        <img src="assets/img/payment_logo/paypal.png" alt="">
                    </div>
                    <h2 class="delivery">DELIVERY SERVICE</h2>
                    <div class="delivery_links">
                        <img src="assets/img/delivery_logo/j&t.png" alt="">
                        <img src="assets/img/delivery_logo/ninjavan.png" alt="">
                        <img src="assets/img/delivery_logo/flash.png" alt="">
                    </div>
                </div>
                <div class="footer_social_links">
                    <h2 class="follow">Follow Us</h2>
                    <div class="social_links">
                        <div class="facebook">
                            <img src="assets/img/social_media/facebook.png" alt="">
                        </div>
                        <div class="x">
                            <img src="assets/img/social_media/x.png" alt="">
                        </div>
                        <div class="instagram">
                            <img src="assets/img/social_media/instagram.png" alt="">
                        </div>
                        <div class="tiktok">
                            <img src="assets/img/social_media/tiktok.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p>&copy; 2025 SoundStage. All Rights Reserved.</p>
                <p>SoundStage</p>
            </div>
        </footer>
        
    </main>

    <script src="assets/js/script.js"></script>

</body>
</html>