<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/User-and-Guest-Site/Landing-Page/sign_up.css">
    <title>Document</title>
</head>
<body>
    <main>

        <div class="container">
            <div class="title"><h1>Create an Account</h1></div>
            <div class="text"><p>Please create your account</p></div>

            <form action="" method="post">
                <div class="name"><input type="text" placeholder="First name"><input type="text" placeholder="Last name"></div>
                <div class="email"><input type="email" placeholder="Enter your Email"></div>
                <div class="pass"><input type="password" placeholder="********"></div>
                <div class="confirm_pass"><input type="password" placeholder="Confirm your password"></div>
            </form>

            <div class="conditions">
                <div class="text">I agree to the <button>Terms and Conditions</button> and <button>Privacy Policies</button></div>
            </div>
            <div class="register_btn"><button type="submit"><h2>Register</h2></button></div>
            <div class="login_link"><p>Already have an account? <a href="sign_in_page.html">Login</a></p></div>
        </div>

        <div class="img">
            <img src="assets/img/sign_up_img.png" alt="">
        </div>

    </main>
</body>
</html>